doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 结果
  body
    img(style='width: 100%' src= success ? 'https://img2.baidu.com/it/u=2319812140,2016018344&fm=26&fmt=auto&gp=0.jpg' : 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fwx3.sinaimg.cn%2Flarge%2F006hL0SXgy1g9slznqozvj30fk0g4tbf.jpg&refer=http%3A%2F%2Fwx3.sinaimg.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1630592680&t=4aa2904618d0cf82b1e4b61a611b98d7')
    if success 
        h1 成功
    else 
        h1 失败
    if !success
        h2 #{reason}
    button(onclick='javascript:window.location="/upload"') 返回
